* {
  background-color: #000;
}

#panel {
  width: 600px;
  height: 300px;
  border: 1px solid #fff;
  position: relative;
}

#bar {
  position: absolute;
  left: 50px;
  top: 190px;
  width: 500px;
  height: 15px;
  background-color: #f33;
}
#earth {
  width: 80px;
  position: absolute;
  left: 10px;
  top: -90px;
}

#btn {
  text-align: center;
  width: 600px;
  padding: 10px;
}

#btnStart {
  font-size: 12pt;
  font-weight: bold;
  color: #fff;
  background-color: gray;
}
